name: Deploy Backend to EC2

on:
  push:
    paths:
      - 'backend/**'
      - '.github/workflows/backend-deploy.yml'
      - 'backend/Dockerfile'
      - 'backend/requirements.txt'
      - 'backend/.env*'
      - '!frontend/**'
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy and restart backend
        run: |
          cd /home/ec2-user/portfolio
          git pull origin main
          sudo docker rm -f portfolio-backend || true
          sudo docker build -t portfolio-backend -f backend/Dockerfile .
          sudo docker run --env-file backend/.env -p 8000:8000 --name portfolio-backend -d portfolio-backend
